Hola <b>{{ user.name }}</b>! Bienvenido <i class="fa fa-globe"></i>!

<p style="padding-top:10px;">
    Esperamos que este sitio te resulte útil y que la comunidad sea amistosa.
</p>
<p>
    Te animamos a participar:
    <b>Vota</b> entradas que consideres útiles, haz <b>preguntas</b>, escribe <b>comentarios</b> y <b>respuestas</b>, sigue entradas,
    añade contenido a tus favoritos. Puedes mantenerte informado del último contenido vía correo (mira tus ajustes de usuario) o mediante feeds RSS.
</p>
<p>
    Juntos, compartiendo el conocimiento, las experiencias personales y trucos
    nos podemos convertir en científicos más productivos y útiles.
</p>

