{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block page_title %}
    RSS Feeds
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">RSS Feeds</h3>
                </div>
                <div class="panel-body">

                    <p>
                        Feeds estándar:
                    </p>


                    <ul>
                        <li><a href="{% url "latest-feed" %}">Últimas entradas</a> - últimas entradas (todas las entradas)</li>
                        <li><a href="{% url "post-type" "question" %}">Nuevas preguntas</a> - últimas preguntas</li>
                        <li><a href="{% url "post-type" "job" %}">Nuevas ofertas de trabajo</a> - últimas ofertas</li>
                        <li><a href="{% url "planet-feed" %}">Planet Feed</a> - Últimas entradas de blog</li>
                    </ul>


                    <p>
                        Uso avanzado, se pueden añadir múltiples fuentes a un feed.

                    <p>

                    <ul>
                        <li><a href="{% url "post-type" "blog+job" %}">Seguir entradas de diferentes tipos</a>, entradas de determinado tipo:
                            <code>/feeds/type/job+blog</code>
                        </li>
                        <li><a href="{% url "post-feed" "2+4+6" %}">Seguir múltiples entradas</a>, respuestas y comentarios anexadas
                        a las entradas específicas: <code>/feeds/post/2+8+10</code>
                        </li>
                        <li><a href="{% url "tag-feed" 'galaxy+bwa+tutorial' %}">Seguir múltiples etiquetas</a>, entradas etiquetadas con una o más
                        etiquetas:
                            <code>/feeds/tag/galaxy+bwa+tutorial</code>
                        </li>
                        <li><a href="{% url "user-feed" "2+4+6" %}">Seguir a múltiples usuarios</a> un feed para esos usuarios:
                            <code>/feeds/user/2+8+10</code>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
